.join,
.login,
.contact,
.search,
.help,
.home,
.download {
  border-radius: 15px;
  color: white;
  width: 135px;
  text-align: center;
  font-size: 15px;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin: 6% 3%;
  border: none;
}
.join {
  background: rgb(80, 80, 194);
}
.login {
  background: orange;
}
.contact {
  background: rgb(133, 29, 29);
}
.search {
  background: rgb(90, 116, 116);
}
.help {
  background: rgb(58, 35, 88);
}
.home {
  background: rgb(153, 38, 115);
}
.download {
  background: rgb(117, 97, 58);
}
